{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="title">My tasks</h1>
    <ul class="list-group">
    {% for task in task_list  %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ task.title }}</div>
          <p class="description"> {{ task.description }} </p>
          <p class="description"> {{ task.get_priority_display }} </p>
        </div>
        <span class="badge text-bg-primary rounded-pill">{{ task.dead_line }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}