{% extends 'base.html' %}
{% block content %}{% include 'header.html' %}

<div class="container"> 
    <h1 class="title">Task update</h1> 
    <form method="post"> 
        {% csrf_token %} 
        {{ form.as_p}} 
        <button type="submit" class="btn btn-primary">Оновити завдання</button> 
    </form> 
</div>

<style>
    .title{
        margin-top: 7.5%;
        text-align: center;
    }
    form{
        width: 60%;
        margin-left: 22.5%;
    }
    label{
        font-size: 25px;
        font-style: bold;
    }
    
    textarea, input, select{
        float: right;
        height: 40px;
        width: 35%;
        padding: 5px;
        margin-left: 25%;
        border-radius: 10px;
        border: solid;
        border-color: black;
    }
    
    button{
        margin-left: 35%;
    }
</style>
{% endblock content %}