{% extends 'base.html' %}
{% block content %}{% include 'header.html' %}

<div class="container">
    <div class="head">
      <h1 class="title">My tasks</h1>
      <div class="add_btn_div">
        <a class="btn btn-success" href="{% url 'task_traker:add_task' %}" role="button">Add task</a>
      </div>
    </div>
    <form method="get" class="form-inline mb-3"> 
      {{ form.status.label_tag }} 
      {{ form.status }} 
      {{ form.priority.label_tag }} 
      {{ form.priority }} 
      <button type="submit" class="btn btn-primary ml-2">Filter</button> 
    </form>
    <ul class="list-group">
    {% for task in task_list %}
        <li class="list-group-item li">
            <a class="task_link" href="{% url 'task_traker:task_detales' task.pk %}">
              <div class="task_info">
                <span class="title_task">{{ task.title }}</span> 
                <span class="badge rounded-pill text-bg-info">{{ task.get_status_display }}</span>
                <span class="badge rounded-pill text-bg-secondary">{{ task.get_priority_display }}</span>
                <span class="badge text-bg-dark   dead_line">{{ task.dead_line }}</span>
              </div>
              <div>
                <form class="mark_done" action="{% url 'task_traker:task_complete' task.pk %}" method="post"> 
                  {% csrf_token %} 
                  <button type="submit" class="btn btn-outline-primary">Mark as done</button> 
                </form>
              </div>
            </a>
          
        </li>
    {% endfor %}
  </ul>
</div>

<style>
  .li{
    background-color: rgb(64, 42, 77);
    color: white;
  }
  .head{
    display: flex;
  }
  .add_btn_div{
    margin-top: 10px;
    margin-left: 70.5%;
  }
  .container{
    padding:50px 125px 0 125px;
  }
  label{
    font-size: 25px;
  }
  .task_link{
    display: flex;
  }
  .task_info{
    flex: 1;
  }
  .dead_line{
    padding: 6px;
    float: right;
    margin-top: 5px;
    margin-right: 5%;
  }
  .title_task{
    margin-right: 25px;
  }
  .mark_done{
    flex: 2;
  }
  
</style>

{% endblock content %}