{% extends 'base.html' %}

{% block content %}{% include 'header.html' %}
<div class="container"> 
    <div class="card">
        <div class="card-header">
           <h1>{{ task.title }}</h1>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ task.description}}</h2>
          <p>Status: <span class="badge span">{{ task.status }}</span></p> 
          <p>Priority: <span class="badge span">{{ task.priority }}</span></p>
          <p>Deadline: <span class="badge span">{{ task.dead_line }}</span></p>
          <a href="{% url 'task_traker:task_update' task.pk %}" class="btn btn-warning">Edit</a> 
          <a href="{% url 'task_traker:task_delete' task.pk %}" class="btn btn-danger">Delete</a> 
        </div>
      </div>
      <br><br>
    
    <ul class="list-group">
        <li class="list-group-item active li-text-main" aria-current="true">Set executers</li>
        {% for u in users %}
            <li class="list-group-item li">
                <div class="div-li-text">
                    <span class="li-text">{{ u.username }}</span>
                </div>
                <div class="">
                    <a href="{% url 'task_traker:task_add_executer' task.pk user.id %}" class="btn btn-dark btn-set">Set</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<style>
    .card{
        background-color: rgb(64, 42, 77);
        color: white;
    }
    .container{
        padding-top: 100px;
    }
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
    }
    .span{
        font-size: 25px;
    }
    .btn{
        margin-right: 1.5%;
    }
    .li{
        display: flex;
        background-color: rgb(64, 42, 77);
        color: white;
    }
    .li-text-main{
        font-size: 25px;
    }
    .div-li-text{
        flex:1;
    }
    .li-text{
        font-size: 25px;
    }
    .btn-set{
        float: right;
        flex:2
    }
</style>

{% endblock content %}